{% extends 'blog1/base.html' %}
{% block content %}
    <section class="contact">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Have questions or feedback? We're here to help! Feel free to reach out to our team using any of the contact methods below. We strive to respond to all inquiries within 24 hours during business days.</p>
            <div class="cont">
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    34 Street Name, City Name Here, United States
                </p>
                <p>
                    <i class="fas fa-phone"></i>
                    +(233) 345 6789
                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                    awineclin@gmail.com
                </p>
            </div>
        </div>

        <div class="contact-form">
            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="48b64498-4bdd-43ea-aea8-084fb5b522cb">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>
{% endblock content %}