{% extends 'blog1/base.html' %}
{% block content %}

<div class="container-details">
    <div class="details-info">
          <div class="details-image">
            {% if object.image_url %}
              <img src="{{ object.image_url }}" alt="{{ object.title }}">
            {% else %}
              <p>No Image</p>
            {% endif %}
          </div>
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} || {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
    </div>
  </div>
  
<div class="comments">
    <h2>Comments</h2>
    <!-- Comment form -->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Comment</button>
  </form>

  <!-- Comment list -->
  <h2>Comments</h2>
  <ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.firstname }} {{ comment.lastname }}</strong>||<small>Posted on {{ comment.created_on }}</small>
            <p>{{ comment.body }}</p>
        </li>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
  </ul>
</div>

{% endblock content %}