{% extends 'blog1/base.html' %}
{% block content %}

<div class="container-details">
    <div class="details-info">
          <div class="details-image">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
            {% else %}
              <p>No Image</p>
            {% endif %}
          </div>
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} || {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
    </div>
  </div>
  
<div class="container-details">
  <div class="details-info">
    <div class="contact-form">
      <h2>Add Comments</h2>
      <!-- Comment form -->
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit Comment</button>
    </form>
  
    <!-- Comment list -->
     <div class="means">
      <h2>Comments</h2>
     </div>
    <ul class="meant">
      {% for comment in comments %}
          <li>
              <strong>{{ comment.firstname }} {{ comment.lastname }}</strong><small>Posted on {{ comment.created_on }}</small>
              <p>{{ comment.body }}</p>
          </li>
      {% empty %}
          <p>No comments yet.</p>
      {% endfor %}
    </ul>
  </div>
  </div>
</div>


{% endblock content %}